**/__pycache__
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
cover/
.hypothesis/
.pytest_cache/
.env*
.venv*
.mypy_cache/
.idea
.pylintrc
.dockerignore
.gitignore
Dockerfile
README.md
*_test_results.xml
test.sh
requirements-test.txt
CHANGELOG.md
.testrc
tests/
documentation/
.github/
.pre-commit-config.yaml
.run
**/.pylintrc
**/.todoist-sync
.python-version
.circleci
**/sync_cache.json
.git
tasks

## Check list of included files with:
#docker image build -t build-context -f - . <<EOF
#FROM busybox
#COPY . /build-context
#WORKDIR /build-context
#CMD find . | sed 's/^.\///' | grep -v '^\.$'
#EOF
#docker container run --rm build-context
## (from https://stackoverflow.com/questions/38946683/how-to-test-dockerignore-file)