__pycache__/
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
cover/
.hypothesis/
.pytest_cache/
.env*
.venv*
.mypy_cache/
.idea
.pylintrc
.dockerignore
.gitignore
Dockerfile
README.md
*_test_results.xml
test.sh
requirements-test.txt
CHANGELOG.md
.testrc
tests/
documentation/
.github/